@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta&family=Nunito:ital,wght@0,200;0,400;0,700;1,200&family=Poppins:wght@200&family=Shantell+Sans:wght@300&display=swap');
html{
    padding:0;
    margin:0;
    background: linear-gradient(#e5b091,#e66465, #abe4b2);
    font-family: 'Poppins', sans-serif; 
}

#bonus{
    display:flex;
    flex-direction:row;
}

#center{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#click-me{
    border:none;
    width:35%;
    height:35vh;
    border-radius: 50%;
    margin:2%;
    font-size: 2em;
    color:rgb(82, 40, 62);
    text-transform: uppercase;
    background: linear-gradient(#e66465, #9198e5); 
    cursor: pointer;
    font-family: 'Mukta', sans-serif;

}

#click-me:active{
    background: linear-gradient(#ff5792, #6bc2ed); 

}
.card{
    width:30%;
    margin:2%;
    background: linear-gradient( #9198e5, #5fec72); 

    padding:5%;
    border-radius: 10px;
}